<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dazhukeji.douwu">

    <application
        android:name=".DwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.aty.MainActivity" android:theme="@style/DefaultCityPickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.aty.mine.PublishVideoAty" />
        <activity android:name=".ui.aty.home.DanceOrgAty" />
        <activity android:name=".ui.aty.home.TeacherAty" />
        <activity android:name=".ui.aty.home.CourseAty" />
        <activity android:name=".ui.aty.home.CalendarAty" />
        <activity android:name=".ui.aty.home.RecruitHallAty" />
        <activity android:name=".ui.aty.home.RecruitDetailsAty" />
        <activity android:name=".ui.aty.home.NoticeDetailsAty" />
        <activity android:name=".ui.aty.home.VideoAty" />
        <activity android:name=".ui.aty.home.VideoDetailsAty" />
        <activity android:name=".ui.aty.home.CourseDetailsAty" />
    </application>

</manifest>