<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dazhukeji.douwu">

    <application
        android:name=".DwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.aty.MainActivity" android:theme="@style/DefaultCityPickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.aty.mine.PublishVideoAty" />
        <activity android:name=".ui.aty.home.DanceOrgAty" />
        <activity android:name=".ui.aty.home.TeacherAty" />
        <activity android:name=".ui.aty.home.CourseAty" />
        <activity android:name=".ui.aty.home.CalendarAty" />
        <activity android:name=".ui.aty.home.RecruitHallAty" />
        <activity android:name=".ui.aty.home.RecruitDetailsAty" />
        <activity android:name=".ui.aty.home.NoticeDetailsAty" />
        <activity android:name=".ui.aty.home.VideoAty" />
        <activity android:name=".ui.aty.home.VideoDetailsAty" />
        <activity android:name=".ui.aty.home.CourseDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.DanceOrgDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.OrganizationVideoAty" />
        <activity android:name=".ui.aty.home.TeacherDetailsAty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.aty.home.TeacherVideoAty" />
        <activity android:name=".ui.aty.home.TeacherCourseAty" />
        <activity android:name=".ui.aty.home.DanceOrgCourseAty" />
        <activity android:name=".ui.aty.home.PayDialogAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.mine.EditPersonalInfoAty" />
        <activity android:name=".ui.aty.mine.MemberCollectAty" />
        <activity android:name=".ui.aty.mine.MemberFollowAty" />
        <activity android:name=".ui.aty.mine.OrganizationRecruitAty" />
        <activity android:name=".ui.aty.mine.ManageTeacherAty" />
        <activity android:name=".ui.aty.mine.ManageCourseAty" />
        <activity android:name=".ui.aty.mine.AddCourseAty" />
        <activity android:name=".ui.aty.mine.MemberVideoAty" />
        <activity android:name=".ui.aty.mine.MemberFreeEnterAty"
            android:theme="@style/PayDialog"/>
        <activity android:name=".ui.aty.mine.BeComeTeacherAty" />
        <activity android:name=".ui.aty.mine.BeComeOrgAty" />
        <activity android:name=".ui.aty.mine.PurchasedCoursesAty" />
        <activity android:name=".ui.aty.mine.PurchasedCoursesDetailsAty" />
        <activity android:name=".ui.aty.mine.VoucherAty" />
        <activity android:name=".ui.aty.mine.FansAty" />
        <activity android:name=".ui.aty.LoginAty" />
    </application>

</manifest>